{% load static %} 
<header>
<img src="{% static 'core/img/logoo.jpeg' %}" alt="DreamWorks Logo" class="logo">
    
    <div class="stars" id="stars"></div>
    <div class="moon"></div>
    
    <!-- Navegador flotante -->
    <nav class="menu-medieval">
        <ul class="menu-lista">
            <li>
                <label for="registro-toggle">📜 Registrarse</label>
            </li>
            <li><a href="#contacto">🌟Contacto</a></li>
            <li><a href="#comentarios">✍️ Opinión</a></li>
            <li>
            <label
                for="login-toggle"
                onclick="window.location.href='{% url 'login' %}'"
                style="cursor: pointer;">"🔐 Iniciar Sesión
            </label>
            </li>
        </ul>
    </nav>
</header>