{% load static %} 
<header>
<img src="{% static 'core/img/logoo.jpeg' %}" alt="DreamWorks Logo" class="logo">
    
    <div class="stars" id="stars"></div>
    <div class="moon"></div>    
    
    <!-- Navegador flotante -->
    <nav class="menu-medieval">
        <ul class="menu-lista">
            <li><a href="#contacto">🌟Contacto</a></li>
            <li><a href="#comentarios">✍️ Opinión</a></li>
        </ul>
        {% if user.is_authenticated %}
    <p>¡Hola, {{ user.username }}! <a href="{% url 'logout' %}">Cerrar sesión</a></p>
{% else %}
    <p>
        <a href="{% url 'registro' %}" class="boton-medieval">Registrarse</a>
        <a href="{% url 'login' %}" class="boton-medieval">Iniciar sesión</a>
    </p>
{% endif %}

    </nav>
</header>