{% load static %}
<!--Informacion y seccion de copyright-->
<title>🌙 Top 12 Películas DreamWorks | La magia de la animación</title>
<meta name="description" content="Conoce las mejores 12 películas de DreamWorks🌙!">
<meta name="author" content="Litzamar Blanco">
<meta name="copyright" content="DreamWorks Animation">

<!-- Redes Sociales -->
<meta property="og:title" content="🌙 Top 12 Películas DreamWorks | La magia de la animación">
<meta property="og:type" content="website">
<meta property="og:description" content="Descubre el universo creativo de DreamWorks Animation, estudio pionero en animación digital que ha cautivado a generaciones con sus icónicas películas. Desde los entrañables personajes de Shrek y Cómo Entrenar a tu Dragón hasta las aventuras de Kung Fu Panda y Trolls">
<meta property="og:image" content="{% static 'core/img/DREAMWORKS ANIMATION.png' %}">
<meta property="og:url" content="https://Las Mejores 12 películas de DreamWorks Animation.com">